<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../../../css/activity-page-style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <main id="site-content">
      <div>
        <li>
          <a href=""><span>All experience</span></a>
        </li>
      </div>
      <section>
        <div>
          <div>
            <span class="_1qk2y0c"
              ><h1
                tabindex="-1"
                class="hpipapi i1pmzyw7 dir dir-ltr"
                elementtiming="LCP-target"
              >
                Dining in the Nile river onboard
              </h1></span
            >
          </div>
          <div class="underH1">
            <div>
              <span><i class="fa-solid fa-star"></i></span>
              <span> 4.74(58) . </span>
              <span
                ><a href=""><span>At Dawaan Egypt</span></a></span
              >
            </div>
            <div>
              <span>
                <i class="fa-solid fa-arrow-up-from-bracket"></i> Share
              </span>
              <span> <i class="fa-regular fa-heart"></i> Save </span>
            </div>
          </div>
        </div>
      </section>
      <div class="media-container">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../../assets/images/carousel-1.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../../assets/images/carousel-2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../../assets/images/carousel-3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="main-content">
          <div class="right-side">
            <div class="nameHost">
              <div>
                <h1>Experience hosted by Wael</h1>
                <p>6 hours . Hosted in English</p>
              </div>
              <div>
                <img
                  src="../../../assets/images/carousel-1.jpg"
                  alt="Photo Host"
                />
              </div>
            </div>
            <div class="options">
              <div class="shape-options">
                <div>
                  <i class="fa-solid fa-star-of-life"></i>
                </div>
                <div>
                  <h3>Once-in-a-lifetime</h3>
                  <p>Guests say it's special and unique.</p>
                </div>
              </div>
              <div class="shape-options">
                <div>
                  <i class="fa-solid fa-message"></i>
                </div>
                <div>
                  <h3>Super storytelling</h3>
                  <p>Guests say this Host tells great stories.</p>
                </div>
              </div>
              <div class="shape-options">
                <div>
                  <i class="fa-regular fa-calendar"></i>
                </div>
                <div>
                  <h3>Cancellation flexibility</h3>
                  <p>Free cancellation up to 24 hours before the start time.</p>
                </div>
              </div>
            </div>
            <div class="description">
              <h2>What you'll do</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                hic facere sapiente delectus illum dolorem repellendus iste
                quas, molestias, cum consequatur, ad tenetur aliquid architecto
                odit mollitia! Ad, ex ipsum.
              </p>
            </div>
            <div>
              <h4>What's included</h4>
              <div class="included-descripe">
                <div class="box-container">
                  <h1>
                    <i class="fa-solid fa-utensils"></i>
                  </h1>
                  <h5>Food</h5>
                  <p>Egyptian traditional food.</p>
                </div>
                <div class="box-container">
                  <h1><i class="fa-solid fa-wine-glass-empty"></i></h1>
                  <h5>Drinks</h5>
                  <p>Bottled water on board.</p>
                </div>
                <div class="box-container">
                  <h1><i class="fa-solid fa-ticket"></i></h1>
                  <h5>Tickets</h5>
                  <p>Entrance fees to the sites.</p>
                </div>
                <div class="box-container">
                  <h1><i class="fa-solid fa-bus-simple"></i></h1>
                  <h5>Transportation</h5>
                  <p>A/C vehicle</p>
                </div>
                <div class="box-container">
                  <h1><i class="fa-solid fa-hammer"></i></h1>
                  <h5>Equipment</h5>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="description-host">
              <div class="title">
                <div>
                  <img
                    src="../../../assets/images/carousel-1.jpg"
                    alt="Photo Host"
                  />
                </div>
                <div>
                  <h1>Meet your Host, Wael</h1>
                  <p>Host on Airbnb since 2019</p>
                </div>
              </div>
              <div class="review">
                <div>
                  <i class="fa-solid fa-star"></i>
                  <span>390 Reviews</span>
                </div>
                <div>
                  <i class="fa-solid fa-shield"></i>
                  <span>Identity verified</span>
                </div>
              </div>
              <div class="content-host">
                <p>
                  Hello. I am Wael Kamouna, a freelance tour guide/Egyptologist
                  since 2008 with 12 years' experience in the field of tourism,
                  and a degree from Cairo University. I'm a member of EGTGS
                  (Egyptian General Tourist Guides Syndicate) and can custom
                  design trips all over Egypt to suit the interests and the
                  needs of guests. Prices are very affordable and can be
                  tailored to suit all budgets. I also arrange customized tours
                  for individuals and groups throughout Egypt. Egypt is full of
                  hidden treasures! It is not only the ancient pyramids, but its
                  streets, its people, the feeling of walking on the bank of the
                  Nile at night, the Islamic and the Coptic parts, in addition
                  to its monuments and museums. It would be my pleasure to show
                  the visitors the charm of every part of modern and ancient
                  Egypt.
                </p>
                <div>
                  <span>Co-hosts: </span>
                  <img
                    src="../../../assets/images/carousel-1.jpg"
                    alt="Photo Host"
                  />
                </div>
                <div class="contact-host">
                  <!-- Button trigger modal -->
                  <button
                    type="button"
                    class="btn btn-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    Contact hosts
                  </button>
                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Modal title
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">...</div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button type="button" class="btn btn-primary">
                            Save changes
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <i class="fa-solid fa-shield"></i>
                    <span
                      >To protect your payment, never transfer money or
                      communicate outside of the Airbnb website or app. Learn
                      more</span
                    >
                  </div>
                </div>
              </div>
              <div class="container overflow-hidden">
                <div class="row gy-5">
                  <div>
                    <h5><i class="fa-solid fa-star"></i>4.94 (313 reviews)</h5>
                  </div>
                  <div class="col-6">
                    <div class="p-3 border bg-light">
                      <h5>Asif</h5>
                      <span>July 2023</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Eius aspernatur enim, delectus eveniet, temporibus
                      laudantium, pariatur dolores soluta consequatur alias
                      nobis expedita non sequi dignissimos labore voluptate
                      ullam debitis eos?
                    </p>
                  </div>
                  <div class="col-6">
                    <div class="p-3 border bg-light">
                      <h5>Asif</h5>
                      <span>July 2023</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Perspiciatis quae tempora ipsum accusamus hic. Sapiente
                      cum minus praesentium fuga tenetur! Provident eveniet
                      numquam, iure corporis reprehenderit dicta ipsum delectus
                      laudantium.
                    </p>
                  </div>
                  <div class="col-6">
                    <div class="p-3 border bg-light">Custom column padding</div>
                  </div>
                  <div class="col-6">
                    <div class="p-3 border bg-light">Custom column padding</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside>
            <div>
              <h2>From $70</h2>
              <span
                ><a href=""><span>Show all prices</span></a></span
              >
              <div class="two-button">
                <button>
                  <label for="start">Start date:</label>
                  <input
                    type="date"
                    id="start"
                    name="trip-start"
                    value="2018-07-22"
                    min="2018-01-01"
                    max="2018-12-31"
                  />
                </button>
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dropdown button
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </main>
  </body>
</html>
