<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/activity-page-style.css" />
    <link
    rel="stylesheet"
    type="text/css"
    href="../../../css/createNewActivity.css"
  />
    <title>Document</title>
  </head>
  <body>
    <!-- const { title , description, locationCity , date, createdBy , price} = req.body; -->
      <form action="/" class="decor">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
          <h1>Create Activity</h1>
          <span>Email Provider: .....{{Created By}}....</span>
          <input type="text" placeholder="title">
          <input type="number" placeholder="Price$">
          <!-- <input type="text" placeholder="createdBy"> -->
          <input type="text" placeholder="locationCity">
          <input type="date" placeholder="Date">
          <textarea placeholder="description..." rows="5"></textarea>
          <button type="submit" href="/">Create New Activity</button>
        </div>
      </form>
  </body>
</html>
